
<%if current_user.has_role? :admin %>
<%= button_to "Add Doctor", new_speciality_path ,:method=> :get, remote: true, :class=>"btn btn-success signup-login-btn", 'data-toggle' => 'modal', 'data-target'=>'#myModal'%>
<%end%>

<%= form_tag search_path, :method => 'get', :class=> "search1", :remote => true do %>
  <p style="
    height: 40px;
    width: 250px;
">
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :style=> "margin-left: -216px;" %>
  </p>
<% end %>


<div class="container">
    <div class="bar">
      <div class="row">

        <div class="col-sm-12">
          <div class="add-user text-right">
           <a href="">
           </a>
         </div>
       </div>
     </div>
   </div>
 </div>
 <div class="container">
  <div class="row">
    <div class="transbox">


        <div id="spec">
          <%= render :partial=>"/speciality/index" %>
        </div>

    </div>
    </div>
  </div>
  <style type="text/css">
.search1{
  float: right;
}
}
  </style>




