  <div class="panel panel-default">
    <div class="panel-heading"><h3><strong></strong></h3></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <div>
            <div class="well-new">
              <h4 class="text-center">Appointment</h4>

              <div>
                <div class="form-horizontal">
                 <div class="form-group">
                  <label class="col-sm-3 text-right" for="">Speciality</label>
                  <div class="col-sm-8">
                    <div class="input-group">
                      <input value = "<%= @s.speciality_name%>" type="text" class="form-control" id="pnumber" readonly>
                    </div>
                  </div>
                  <div class="col-sm-1"></div>
                </div>
              </div>

              <div class="form-horizontal">
               <div class="form-group">
                <label class="col-sm-3 text-right" for="">Doctor Name</label>
                <div class="col-sm-8">
                  <div class="input-group">
                    <input type="text" value = "<%= @s.doctor_name%>" class="form-control" id="pnumber" readonly>
                  </div>
                </div>
                <div class="col-sm-1"></div>
              </div>
            </div>
            <div class="form-horizontal">
             <div class="form-group">
              <label class="col-sm-3 text-right" for="">Phone</label>
              <div class="col-sm-8">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                  <input type="text" value ="<%= @s.phone%>" class="form-control" id="pnumber" readonly>
                </div>
              </div>
              <div class="col-sm-1"></div>
            </div>
          </div>

          <div class="form-horizontal">
           <div class="form-group">
            <label class="col-sm-3 text-right" for="">Venue</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span><i></i></span>
                <input type="text" value = "<%= @s.doctor_venue%>" class="form-control" id="pnumber" readonly>
              </div>
            </div>
            <div class="col-sm-1"></div>
          </div>
        </div>    
   <%= form_for :book, :url => book_path(id: @s.id) , method: :post, authenticity_token: true, html:{:class =>"form-horizontal", :id=>"register" } do |f| %>
         <div class="form-horizontal">
           <div class="form-group">
            <label class="col-sm-3 text-right" for="">Date</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span><i></i></span>
                <input type="text" name="date" value = "<%= params[:appointment_date]%>" class="form-control" id="pnumber" readonly>
              </div>
            </div>
            <div class="col-sm-1"></div>
          </div>
        </div>

          <div class="form-horizontal">
           <div class="form-group">
            <label class="col-sm-3 text-right" for="">Slots</label>
            <div class="col-sm-8">
              <div class="input-group">
             
          <div class="multiselect">
            <div id="checkboxes">
              <% @time.each do |time|%>
                <input type="radio" name="time" value='<%= time%>'> <%= time %><br>
              <% end%>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-1"></div>
          </div>
        </div>

        <br />

            </div>
            <div>
              <button style="
              float: right;" class="btn btn-success signup-login-btn">Book Appointment</button>
            </div>
              <% end %>

          </div>
        </div>
      </div>
    </div>







