<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link rel='stylesheet' type='text/css' href='/assets/email.css'>
</head>

<body>
  <h2> Hi <%= @user.name %>,<br /> </h2>
  <h4>Your Appointment has been booked with TOKEN NUMBER <%= @token %> <br /> <br />
  <h4> Speciality Name</h4> <%= @spec.speciality_name %> <br /><br />
  <h4> Doctor Name  </h4> <%= @spec.doctor_name %> <br /><br />
  <h4> Venue</h4><%= @spec.doctor_venue %> <br /></h4>
  <h4> Appointment Time</h4><%= @book.appointment_time.strftime("%H:%M %p") %> <br /></h4>
  <h4> Appointment Date</h4><%= @book.appointment_date.strftime("%d-%m-%y") %> <br /></h4>
</body>
</html>